/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* and here's my own stylings */

body {
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content > div {
    display: flex;
    flex-direction: column;
}

header {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 30px 125px;
    color: #FFFFFF;
    background-color: #1F2937;
}

nav {
    display: flex;
    gap: 40px;
}

nav>button {
    color: #FFFFFF;
    background-color: transparent;
    border-width: 0;
    font-size: 20px;
    font-weight:500;
}

footer {
    color: #FFFFFF;
    background-color: #1F2937;
    padding: 20px 10px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: 800 ;/* extrabold */
    white-space: pre-line;
}

h2 {
    font-size: 24px;
    font-weight: 600; /* semibold */
}

h3 {
    font-size: 18px;
    font-weight: 500; /* medium */
}

h4 {
    font-size: 20px;
    font-weight: 600; /* semibold */
}

h5 {
    font-size: 16px;
    font-weight: 500; /* medium */
}

h6 {
    font-size: 14px;
    font-weight: 400; /* regular */
}

p {
    font-size: 16px;
    font-weight: 400; /* regular */
}

/* homepage */

.homepage-header {
    display: flex;
    align-items: center;
    gap: 6vw;
    padding: 30px 125px 50px;
    color: #FFFFFF;
    background-color: #1F2937;
}

.homepage-header :first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homepage-img {
    height: 22vw;
    width: 37vw;
    border-radius: 20px;
}

button {
    color: #FFFFFF;
    background-color: #3882F6;
    padding: 10px 30px;
    border-width: 0;
    border-radius: 10px;
    width: fit-content;
}

.recommendations {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 75px 125px;
    align-items: center;
}

.recommended-dishes {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.homepage-dish {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommended-dishes :nth-child(odd)>img {
    border: 3px rgb(246, 51, 51, 0.7) solid;
}

.recommended-dishes :nth-child(even)>img {
    border: 3px rgb(56, 130, 246, 0.7) solid;
}

img {
    height: 195px;
    width: 195px;
    object-fit: cover;
    border-radius: 20px;
}